@model ProiectDAW2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="title">Creaza cont</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="title2">Crează un cont nou</h4>
    <hr style="height:2px;border-width:0;color:#723A20;background-color:#723A20">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Email", new { @class = "col-md-2 control-label " })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input_class" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Parola", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control input_class" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Confirmă parola", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input_class form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn button_class" value="Crează cont" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
