@model ProiectDAW.Models.Review

@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza comentariul ales</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Reviews"))
{

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("ReviewContent", "Continutul comentariului: ")
    <br />
    @Html.Editor("ReviewContent", null, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessage("ReviewContent", null, new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-primary button_class" type="submit">Modifica comentariul</button>
   
}