@model ProiectDAW.Models.Product
@{
    ViewBag.Title = "Show";
}

<h1 class="title">Cerere de aprobare postare @Model.Title</h1>

<span class="buttonsM">
    <a class="btn" href="/AdminRequest/Index">Înapoi la toate cererile</a>
</span>

<br /><br />
<div class="panel panel-default" style="background-color: white" id="txt">

    <div class="panel-heading" style="background-color: white">@Model.Title</div>
    <div class="panel-body">
        <img src="../../Files/@Model.Image.ImageName" alt="Imagine postare" width="300" height="220">
        <br />
        <i class="glyphicon glyphicon-book"></i> @Model.Description
        <br />
        <i class="glyphicon glyphicon-tag"></i> @Model.Category.CategoryName
        <br />
        <i class="glyphicon glyphicon-user"></i> <i>Cererea de adaugare a fost trimisa de</i> <strong> @Model.User.UserName </strong>
    </div>
 
    <div class="panel-footer"  style="background-color: white; border-top: 1px solid #007d00; ">
        <a class="btn pull-left  button_class" href="/AdminRequest/Accepted/@Model.ProductId">
                Accepta cererea de adaugare a postarii
        </a>
        <form method="post" action="/AdminRequest/Rejected/@Model.ProductId">
             @Html.HttpMethodOverride(HttpVerbs.Delete)
             <button class="btn btn-danger pull-right  button_class" type="submit">
                  Refuza cererea de adaugare a postarii
             </button>
        </form>
        <div class="clearfix"></div>
     </div>

</div>